@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

/*-------------head--------- */
.head {
  height: 10vh;
  line-height: 10vh;
}

.head i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  background: black;
  text-align: center;
  color: white;
  cursor: pointer;
}

.head i:hover{
  color: #2372d8;
  background: white;
}

.head .signin{
  display: inline;
  margin-top: 5px;
  margin-right: -30px;
  padding: -40px;
  padding-right: -20px;
}

.head .signbtn{
  background: white;
  color: black;
  margin-top: -10px;
  padding-top: -20px;
  font-size: 20px;
  cursor: pointer;
}

.logo p{
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 40px;
  margin-top: 18px;
  letter-spacing: 6px;
}

/*-------------head--------- */
/*-------------header--------- */
header {
  background: #4eabe6;
  padding: 15px 0 15px 0;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  padding: 0 20px 0 0;
}

header li {
  margin-right: 30px;
}

header ul li a {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
}

header ul li a:hover {
  color: black;
}

header .head_contact {
  position: relative;
}

header .head_contact i {
  position: absolute;
  top: -32px;
  left: -70%;
  width: 70px;
  height: 70px;
  line-height: 55px;
  text-align: center;
  background: #5CED6F;
  color: white;
  border-radius: 50%;
  transform: rotate(0deg);
  border: 8px solid #5CED6F;
  font-size: 30px;
  cursor: pointer;
}

header .head_contact i:hover{
  color: #5CED6F;
  background: white;
}

header .sticky_logo {
  display: none;
}

header.sticky .sticky_logo {
  display: flex;
  width: 50px;
  height: 75px;
  margin-top: -25px;
}

header.sticky {
  z-index: 9999;
  position: fixed;
  width: 100%;
  background: black;
  transition: 0.5s;
  height: 12vh;
  top: 0;
  padding: 30px 0 0 0;
}

header.sticky ul li a {
  color: white;
}

header.sticky ul li a:hover {
  color: #4eabe6;
}

@media only screen and (max-width:768px) {

  /*------------head------------*/
  .header .head_contact,
  .logo {
    display: none;
  }

  /*------------head------------*/
 
  header.sticky {
    height: 8vh;
  }

  header.sticky .nav-menu {
    background: black;
  }

  .navbar {
    height: 5vh;
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 11rem;
    flex-direction: column;
    background: #4eabe6;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
  }

  header.sticky .nav-menu {
    top: 5rem;
  }
  

  header ul li a {
    color: white;
  }

  .nav-menu.active {
    left: 0;
  }

  header li {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*------------head------------*/
/*------------home------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.home {
  background-image: url("images/Home\ BG.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home h1 {
  font-family: 'Tangerine', cursive;
  font-size: 190px;
  color: #fff;
  padding-top: 10%;
}

.home p {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins' sans-serif;
}

.home .content {
  text-align: left;
  color: black;
  margin-top: 7%;
}

.home .box {
  height: 110px;
  width: 210px;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.home .lastbox {
  background: transparent;
  margin-top: 13px;
  padding: 10px;
  border-radius: 10px;
}

.home input {
  margin-top: 10px;
}

.home span{
  text-align: center;
  margin-left: 45px;
}

input {
  border: none;
  outline: none;
}

button {
  background: black;
  color: white;
  padding: 16px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button i {
  margin-left: 23px;
  font-size: 18px;
}

button span {
  margin-top: 3.2px;
}

button:hover{
  background-color: #2372d8;
  color: black;
  
}

button i:hover{
  color: white;
}

/*------------home------------*/
/*------------about------------*/
.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 20px;
  
}

.heading {
  text-align: center;
  padding-top:90px;
}

.heading h2 {
  color: black;
  font-size: 45px;
  font-family: serif;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.left, .right {
  width: 50%;
}

h3 {
  font-size: 35px;
  font-family: serif;
  color: black;
  margin-bottom: 20px;
}

.about .left {
  padding: 20px;
}

p {
  line-height: 30px;
  color: black;
  margin-bottom: 20px;
  font-size: 15px;
}

.about {
  position: relative;
  padding-bottom: 70px;
}

.about .right {
  position: relative;
  top: -80px;
  right: -50px;
}

.about::after {
  content: '';
  position: absolute;
  top: -5%;
  left: 0;
  background-image: url("https://www.linkpicture.com/q/line1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
}

.about::before {
  content: '';
  position: absolute;
  bottom: -5%;
  left: 0;
  background-image: url("https://www.linkpicture.com/q/line2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
}

/*------------about------------*/
/*------------wrapper------------*/
.wrapper {
  background-image: url("https://www.linkpicture.com/q/w.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .container {
  max-width: 50%;
  margin: auto;
}

.wrapper .item {
  background: transparent;
  padding: 20px;
  margin-top: 7%;
}

.wrapper .heading1 {
  text-align: center;
}

.owl-nav .owl-next{
  height: 47px;
  position: absolute;
  top: 60%;
  width: 26px;
  cursor: pointer;
  background: none !important;
}

.owl-nav .owl-next {
  right: 53px;
}

.owl-nav .owl-next i
{
  background: white;
  margin-top: 110px;
  padding: 7px;
  border-radius: 50%;
  color: #4eabe6;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.owl-nav .owl-next i:hover
{
  background: black;
  color: white;
}

/*------------wrapper------------*/
/*------------packages------------*/
.packages {
  position: relative;
  text-align: center;

}

.packages .grid {
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10%;
}

.packages .box {
  height: 35vh;
  width: 35vh;
  box-shadow: 0 0 20px 7px rgb(0 0 0 / 15%);
  transition: 0.5s;
  border-radius: 10px;
  padding: 1%;
}

.packages h3 {
 
  font-size: 20px;
  text-align: center;
  justify-content: center;
 
}

.packages img{
  width: 130px;
  height: 30px;
  align-items: center;
  min-height: 40%;
}

.packages p{
  
 
  font-size: 10px;
}

.packages img:hover{
  transform: scale(1.2);
  z-index: 2;
}

.packages .box:hover {
  background: #2372d8;
  cursor: pointer;
}

.packages .btn{
  margin-top: 30px;
  margin-left: 88%;
}

.packages .btn .btn1{
  display: flex;
  justify-content: space-between;
}

.packages .bookbtn{
  display: flex;
  margin-bottom: -10px;
  background:black;
  color:#fff;
  padding:.2rem 6rem;
  border:.1rem solid transparent;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.packages .bookbtn:hover{
  color: #2372d8;
  background-color: white;
}

.packages .box:hover p,
.packages .box:hover h3,
.packages .box:hover i {
  color: white;
}

.packages::after {
  content: '';
  position: absolute;
  top: -7%;
  left: 0;
  background-image: url("images/line1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 75px;
  width: 100%;
  z-index: 2;
}

/*------------packages------------*/
/*------------wrapper2------------*/
.wrapper2 {
  position: relative;
  text-align: center;
}

.wrapper2.packages::after {
  display: none;
  top: 105%;
  background-image: url("images/line2.png");
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
/*------------wrapper2------------*/
/*------------section1------------*/
.section1 {
  position: relative;
  text-align: center;
  padding-top: 12%;
}

.background::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.section1.wrapper {
  background-image: url("https://www.linkpicture.com/q/w2_2.jpg");
}

.section1.about::after {
  z-index: 1;
  top: 0%;
  background-image: url("https://www.linkpicture.com/q/line2.png");
}

.section1.about::before {
  z-index: 1;
  bottom: 0%;
  background-image: url("https://www.linkpicture.com/q/line1_1.png");
}

.section1 h2,
.section1 h5 {
  color: white;
  text-align: center;
}

.section1 .container {
  position: relative;
}

.section1 h2 span {
  font-family: 'Tangerine', cursive;
}

/*------------section1------------*/
/*------------Hotel------------*/
.Hotel img {
  width: 90%;
  height: 90%;
}

.Hotel .right {
  padding: 3px;
  
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.Hotel .content h4 {
  font-size: 20px;
  color: #4eabe6;
  font-family: serif;
}

.Hotel .rate i {
  font-size: 11px;
  color: #CC8C18;
  margin: 0.5px 0.5px 1px 0;
}

.Hotel .content h5 {
  color: #4eabe6;
  margin-bottom: 10px;
}

.Hotel .box {
  transition: 0.5s;
}

.Hotel .box:hover {
  transform: translateY(-10px);
}

.Hotel .btn{
  margin-top: 20px;
  margin-left: 88%;
}

.Hotel .btn .btn2{
  display: flex;
  justify-content: space-between;
}

/*------------Hotel------------*/
/*------------section2------------*/
.section2 {
  position: relative;
  text-align: center;
  padding-top: 12%;
}

.background::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.section2.wrapper {
  background-image: url("images/wrapper1.jpg");
}

.section2.about::after {
  z-index: 1;
  top: 0%;
  background-image: url("https://www.linkpicture.com/q/line2.png");
}

.section2.about::before {
  z-index: 1;
  bottom: 0%;
  background-image: url("https://www.linkpicture.com/q/line1_1.png");
}

.section2 h2,
.section2 h5 {
  color: white;
  text-align: center;
}

.section2 .container {
  position: relative;
}

.section2 h2 span {
  font-family: 'Tangerine', cursive;
}

/*------------section2------------*/
/*------------restaurant------------*/
.restaurant img {
  margin: 0px 0 10px 40px;
}

.restaurant ul li {
  display: inline-block;
  font-weight: 500;
  color: #5c646e;
  margin-right: 20px;
  margin-bottom: 20px;
}

.restaurant ul li a{
  color:#5c646e;
  font-size: 20px;
}

.restaurant .left {
  position: relative;
}

.restaurant .left::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 85%;
  height: 80%;
  margin: 15px;
  background-image: url("https://www.linkpicture.com/q/aera.jpg");
  z-index: -1;
}

/*------------restaurant------------*/
/*------------gallery------------*/
.gallery .item {
  margin-top: 70px;
  position: relative;
  cursor: pointer;
}

.gallery .overlay i {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
  opacity: 0;
  font-size: 50px;
  color: white;
}

.gallery .overlay {
  position: absolute;
  content: '';
  background: #1887ccba;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.gallery .item:hover .overlay,
.gallery .item:hover i {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

/*------------gallery------------*/
/*------------blog------------*/
.blog .grid {
  grid-template-columns: repeat(3, 1fr);
}

.blog .box {
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
  transition: 0.5s;
}

.blog .box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.blog .text {
  padding: 20px;
}

.blog img {
  width: 100%;
  height: 100%;
  position: relative;
}

.blog .img {
  position: relative;
  overflow: hidden;
}

.blog span {
  position: absolute;
  top: -3%;
  left: -12%;
  z-index: 1;
  color: white;
  background: #4eabe6;
  padding: 20px 50px;
  transform: rotate(-45deg);
  font-size: 14px;
}

.blog .box h3 {
  font-size: 20px;
}

.blog .box i {
  margin-right: 10px;
  color: #4eabe6;
}

.blog .box i label {
  color: black;
}

.blog .box h3 {
  margin: 15px 0;
}

.blog a {
  color: #4eabe6;
  font-size: 15px;
}

/*------------blog------------*/
/*------------map------------*/
.map iframe {
  margin-top: 90px;
  width: 100%;
}
/*------------map------------*/
/*------------footer------------*/
footer {
  background: #4eabe6;
  color: white;
  padding: 30px;
}

.subscribe {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.subscribe input {
  width: 100%;
  border-radius: 50px;
  margin-right: 30px;
  padding: 10px;
  text-align: center;
}

.subscribe input::placeholder{
    color: dimgray;
    font-size: 15px;
}

footer .grid {
  grid-template-columns: repeat(4, 1fr);
}

footer .content h2 {
  margin-bottom: 20px;
  font-size: 23px;
}

footer li {
  margin-bottom: 15px;
  opacity: 0.5;
}

footer li a{
  color: white;
  opacity: 1;
}

footer li i {
  font-size: 13px;
  margin-right: 10px;
}

footer .content h3 {
  font-size: 20px;
  color: white;
  margin: 0;
}

footer .content .icon i {
  font-size: 25px;
  margin-right: 20px;
}

footer .social i {
  padding: 15px;
  background: black;
  margin-right: 30px;
  border-radius: 50%;
}

footer .social i:hover{
  color: #2372d8;
  background: white;
} 

footer .content {
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 2px solid #fff;
}

/*------------footer------------*/
@media only screen and (max-width:768px) {

/*------------home------------*/
  footer .grid,
  .blog .grid,
  .packages .content,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .home h1 {
    font-size: 100px;
  }

  .home {
    height: 80vh;
  }

  .home .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
  }

  .home .box:nth-last-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  /*------------home------------*/
  /*------------about------------*/
  .left, .right {
    width: 100%;
  }

  .restaurant .content,
  .room .content,
  .about .content {
    flex-direction: column;
  }

  .packages::after,
  .restaurant .left::after,
  .timer.about::before,
  .timer.about::after,
  .about .right::after,
  .about::before,
  .about::after {
    display: none;
  }

  /*------------about------------*/
  /*------------wrapper------------*/
  .wrapper .container {
    max-width: 80%;
    margin: auto;
  }

  /*------------wrapper2------------*/
  /*------------room------------*/
  .room img {
    margin: 0;
    margin-top: 50px;
  }

  /*------------room------------*/
  /*------------Hotel------------*/
  .Hotel .box {
    flex-direction: column;
  }

  .Hotel .right {
    margin: 0px;
  }

  /*------------Hotel------------*/
  /*------------restaurant------------*/
  .restaurant img {
    margin: 0px;
    width: 100%;
  }

  /*------------restaurant------------*/
  /*------------footer------------*/
  .subscribe {
    max-width: 100%;
  }

/*------------footer------------*/
}

@media only screen and (max-width:512px) {
  .header {
    height: 10vh;
  }

  .header {
    width: auto;
    height: auto;
  }

  .header.nav-menu {
    top: 4rem;
  }

  .nav-menu {
    top: 12rem;
  }

  .head {
    height: 20vh;
    line-height: auto;
    text-align: center;
  }

  .head .container {
    flex-direction: column;
  }

  .home h1 {
    font-size: 70px;
  }

  .grid2,
  footer .grid,
  .blog .grid,
  .wrapper2 .content,
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home {
    height: 140vh;
  }

  .home .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 15px;
  }

  .home .box:nth-last-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  img {
    width: 100%;
    height: 100%;
  }

  /*------------wrapper------------*/
  .wrapper .container {
    max-width: 90%;
  }

  .wrapper {
    height: 100vh;
  }

  .wrapper .item {
    padding: 20px;
    border: 0 solid #F3F3F3;
  }

  
}
/*------------wrapper------------*/